---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
  title="wisdo"
  description="Welcome to wisdo."
>
  <section>
    <h1>Welcome to wisdo</h1>
    <p>Get started by editing <code>src/pages/index.astro</code></p>
    <a href="/dashboard/">Go to dashboard &rarr;</a>
  </section>
</BaseLayout>
